{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <section class="d-flex h-100 container scroll-reveal sobre_container">
        <div class="box_size box_odd">
            <h1 class="text-center">Resumo</h1>
            <p class="text-center revel_delay">
                Sou desenvolvedor full-stack que se especializou em back-end com Python e Django, mas também tenho experiência em front-end com HTML, CSS e JavaScript. Estou sempre buscando aprender novas tecnologias e aprimorar minhas habilidades. Além disso, sou apaixonado por resolver problemas e criar soluções eficientes. Tenho algumas experiencias em projetos de desenvolvimento web, onde trabalhei em equipe e aprendi a importância da colaboração e comunicação. Estou sempre aberto a novos desafios e oportunidades tenho habilidades fora da area de tecnologias que me faz sobressair. <br><br>
                <br><br>
            </p>
        </div>
        <div class="box_size box_even ">
            <h1 class="text-center ">Tecnologias</h1>
            <p>Hoje em dia, tenho experiência com as seguintes tecnologias: <br><br></p>
            <p class="revel_delay">
                <strong>Back-end:</strong> Python, Django, Django Rest Framework, FastAPI, Node.js
                <br><br>
                <strong>Front-end:</strong> HTML, CSS, JavaScript, Bootstrap, React.js, jQuery<br><br>
                <strong>Banco de Dados:</strong> MySQL , sqlite3 <br><br>
                <strong>Outras Tecnologias:</strong> Git, Docker, Linux, AWS <br><br>
                <strong>Metodologias:</strong> Scrum, Kanban, Agile <br><br>
                <strong>Idiomas:</strong> Português (nativo), Inglês (intermediário) <br><br>
                <strong>Soft Skills:</strong> Trabalho em equipe, comunicação, resolução de problemas, adaptabilidade, criatividade, Vendas, Gestão de pessoas <br><br>
            </p>
        </div>
        <div class="box_size  box_odd">
            <h1 class="text-center">Meus Projetos</h1>
            <p class="revel_delay">
                Aqui estão alguns dos projetos que desenvolvi e que demonstram minhas habilidades e conhecimentos em desenvolvimento web:
                <br><br>
                <strong>
                    1. Sistema de Gerenciamento de Estoque:</strong> Um sistema completo para gerenciar o estoque de uma loja, com funcionalidades como cadastro de produtos, controle de entrada e saída de mercadorias, relatórios e gráficos. Utilizei 100% Django tanto com front-end e back-end . 
                    <br><br>
                <strong>
                    2. Refarotando sistema:</strong> . Um projeto de refatoração de um sistema existente, onde melhorei a estrutura do código, implementei boas práticas de programação e adicionei novas funcionalidades. Utilizei Django Rest Framework para criar uma API RESTful e React.js para o front-end. 
                    tambem utilizei o sistema de autenticação JWT para garantir a segurança e privacidade dos dados dos usuários. 
                    Em outra empresa usei java para refatorar um sistema legado, onde melhorei a estrutura do código, implementei boas práticas de programação e adicionei novas funcionalidades. Utilizei Spring Boot para criar uma API RESTful.
                    <br><br>
                <strong>
                    3. Site Pessoal:</strong> Meu portfólio online, onde apresento meus projetos e habilidades. Utilizei HTML, CSS e JavaScript para criar um design responsivo e atraente.
                    Nesse site utilizei o framework Bootstrap para facilitar a criação de um layout responsivo e moderno. Também implementei animações e transições com CSS para melhorar a experiência do usuário. Além disso, utilizei JavaScript para adicionar interatividade usei a biblioteca jQuery para facilitar a manipulação do DOM e a criação de efeitos visuais e scroll-reveal para adicionar animações de entrada aos elementos da página. 
                    <br><br>
            </p>
        </div>
        <div class="box_size box_even ">
            <h1 class="text-center">Paixões</h1>
            <p class="revel_delay"> 
                Gosto de animais sou amante de espostes, gosto de praticar esportes como futebol, basquete e natação. Também sou apaixonado por música e toco violão nas horas vagas quando lembro tambem. Além disso, gosto de viajar e conhecer novos lugares e culturas. Acredito que essas experiências me ajudam a ter uma visão mais ampla do mundo e a ser mais criativo em meu trabalho. 
                <br><br>
            </p>
        </div>
        
    </section>
{% endblock content %}